<div class="col-lg-4 col-md-6 pl-0 pr-0">
    <div class="item background-section d-flex flex-column justify-content-center p-50">
        <span class="title mb-10 has-animate-number">200</span>
        <p>A diverse and global community of independent thinkers make up our inclusive workplace.</p>
    </div>
</div>

<div class="col-lg-8 col-md-6 pl-0 pr-0"></div>

<div class="col-lg-4 col-md-6 pl-0 pr-0">
    <div class="item v-light d-flex flex-column justify-content-center p-50">
        <span class="title mb-10 has-animate-number">300</span>
        <p>A diverse and global community of independent thinkers make up our inclusive workplace.</p>
    </div>
</div>

<div class="col-lg-4 col-md-6 pl-0 pr-0">
    <div class="item background-theme d-flex flex-column justify-content-center p-50">
        <span class="title mb-10 has-animate-number">400</span>
        <p>A diverse and global community of independent thinkers make up our inclusive workplace.</p>
    </div>
</div>