{% extends "Base/base.html" %}

{% block hero_content %}

<body class="v-light dsn-effect-scroll dsn-cursor-effect dsn-ajax classic-menu">
    <main class="main-root">
        <div id="dsn-scrollbar">
            <!-- Header Normal -->
            <header class="header-page over-hidden p-relative header-padding-top header-padding-bottom dsn-header-animation">
                <div class="bg-circle-dotted"></div>
                <div class="container">
                    <div class="content-hero p-relative d-flex flex-column h-100 dsn-hero-parallax-fill">
                        <div class="metas metas-blog d-flex align-items-center letter-s1 fz-16 p-relative">
                            <p class="post-categories d-inline-block">
                                <span class="cat-links"><a href="#">Uncategorized</a></span>
                            </p>

                            <a href="#" class="effect-ajax">May 1, 2026</a>
                        </div>

                        <div class="hero-title mt-30 dsn-load-animate text-transform-upper ">
                            <div class="d-inline-block">
                                <h1 class="title" data-dsn-ajax="title">Building Further Ahead</h1>
                                <h5 class="title title-fill ">Building Further Ahead</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header Normal -->

            <div class="wrapper">
                <div class="root-blog">
                    <div class="container ">
                        <div class="dsn-posts">
                            <div class="image-head p-relative full-width">
                                <div class="before-z-index" data-dsn-grid="move-up" data-overlay="5">
                                    <img class="cover-bg-img has-bigger-scale" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{% static 'app/img/header-2.jpg' %}" alt="">
                                </div>
                            </div>

                            <div class="news-content mt-section">
                                <div class="news-content-inner">

                                    <div class="post-content">
                                        <p>
                                            <a href="#">As a leading UX design agency,</a> we’re often asked by prospective clients and fellow designers similar questions: Disrupt is an experience to showcase the agency's approach to growing brands by building tech. Featured in an FWA Insights article, our team elaborates on the motivation behind the creation of this site.
                                        </p>

                                        <blockquote class="wp-block-quote">
                                            <p>
                                                <strong>
                                                    <em>
                                                        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitulandit Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus.
                                                    </em>
                                                </strong>
                                            </p>
                                        </blockquote>

                                        <p>
                                            <a href="#">As a leading UX design agency,</a> we’re often asked by prospective clients and fellow designers similar questions: Disrupt is an experience to showcase the agency's approach to growing brands by building tech. Featured in an FWA Insights article, our team elaborates on the motivation behind the creation of this site.
                                        </p>

                                        <img class="w-100" src="{% static 'app/img/blog/1.jpg' %}" alt="">

                                        <p>
                                            <a href="#">As a leading UX design agency,</a> we’re often asked by prospective clients and fellow designers similar questions: Disrupt is an experience to showcase the agency's approach to growing brands by building tech. Featured in an FWA Insights article, our team elaborates on the motivation behind the creation of this site.
                                        </p>

                                        <div class="post-tags p-relative">
                                            <a class="fz-16" href="#">
                                                <span class="post_tag post_tag">Blog</span>
                                            </a>
                                            <a class="fz-16" href="#">
                                                <span class="post_tag post_tag">Creative</span>
                                            </a>
                                        </div>

                                        <div class="pagination-post d-flex border-top border-bottom">
                                            <div class="pagination-item text-uppercase border-right border-left w-100">
                                                <a href="#">PREVIOUS POST</a>
                                            </div>

                                            <div class="icon">
                                                <a href="#">
                                                    <i class="fas fa-th-large"></i>
                                                </a>
                                            </div>

                                            <div class="pagination-item text-right text-uppercase border-right border-left w-100">
                                                <a href="#">NEXT POST</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comments-post section-margin">
                                    <div class="comments-area section-margin">
                                        <div class="comments-title">
                                            <h4 class="title-block line-shap line-shap-before"><span class="line-bg-right">Comments</span></h4>
                                        </div>

                                        <ol class="comment-list">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <div class="comment-author">
                                                        <img alt="" src="{% static 'app/img/team/1.png' %}">
                                                    </div>
                                                    <div class="comment-text">

                                                        <div class="comment-info">
                                                            <h6 class="comment-name">
                                                                Diana Torres 
                                                            </h6>
                                                        </div>

                                                        <div class="comment-date">January 23, 2026</div>
                                                        <div class="text-holder">
                                                            <p>
                                                                Rassa id neque aliquam vestibulum morbi blandit in fermentum et sollicitudin ac orci phasellus egestas tellus velit ut tortor pretium viverra suspendisse potenti nullam ac tortor eu turpis egestas pretium.
                                                            </p>
                                                        </div>
                                                        <a class="comment-reply-link" href="#">
                                                            <i class="fas fa-reply"></i> reply
                                                        </a>
                                                    </div>
                                                </div>

                                                <ul class="children">
                                                    <li class="comment">
                                                        <div class="comment-body">
                                                            <div class="comment-author">
                                                                <img alt="" src="{% static 'app/img/team/2.png' %}">
                                                            </div>
                                                            <div class="comment-text">
                                                                <div class="comment-info">
                                                                    <h6 class="comment-name">
                                                                        Diana Torres 
                                                                    </h6>
                                                                </div>
                                                                <div class="comment-date">January 23, 2026</div>

                                                                <div class="text-holder">
                                                                    <p>
                                                                        Rassa id neque aliquam vestibulum morbi blandit in fermentum et sollicitudin ac orci phasellus egestas tellus velit ut tortor pretium viverra suspendisse potenti nullam ac tortor eu turpis egestas pretium.
                                                                    </p>
                                                                </div>
                                                                <a class="comment-reply-link" href="#">
                                                                    <i class="fas fa-reply"></i> reply
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="comment">
                                                <div class="comment-body">
                                                    <div class="comment-author">
                                                        <img alt="" src="{% static 'app/img/team/3.png' %}">
                                                    </div>
                                                    <div class="comment-text">
                                                        <div class="comment-info">
                                                            <h6 class="comment-name">
                                                                Diana Torres 
                                                            </h6>
                                                        </div>
                                                        <div class="comment-date">January 23, 2026</div>

                                                        <div class="text-holder">
                                                            <p>
                                                                Rassa id neque aliquam vestibulum morbi blandit in fermentum et sollicitudin ac orci phasellus egestas tellus velit ut tortor pretium viverra suspendisse potenti nullam ac tortor eu turpis egestas pretium.
                                                            </p>
                                                        </div>
                                                        <a class="comment-reply-link" href="#">
                                                            <i class="fas fa-reply"></i> reply
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>

                                        </ol>
                                    </div>

                                    <div class="comments-form">
                                        <div class="comments-title">
                                            <h4 class="title-block line-shap line-shap-before">
                                                <span class="line-bg-right">Comments</span>
                                            </h4>
                                        </div>

                                        <form class="d-grid grid-md-3 grid-sm-2">
                                            <div class="">
                                                <input type="text" name="name" placeholder="Enter your name ..." required="required" data-error="name is required.">
                                            </div>

                                            <div class="">
                                                <input type="email" name="email" placeholder="Enter your Email ..." required="required" data-error="Valid email is required.">
                                            </div>

                                            <div class="">
                                                <input type="text" name="url" placeholder="Enter your website ...">
                                            </div>

                                            <div class="box-textarea">
                                                <textarea rows="6" class="form-control" name="message" placeholder="Tell us about you and the world" required="required" data-error="Your comment"></textarea>
                                            </div>

                                            <div class="image-zoom w-auto d-inline-block" data-dsn="parallax">
                                                <input name="submit" type="submit" id="submit" class="dsn-button-comment" value="Post Comment">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Footer3 Section -->
            {% include 'Base/footer3.html' %}

        </div>
    </main>
</body>

{% endblock %}