{% extends "Base/base.html" %}
{% load static %}

{% block hero_content %}

<body class="v-light dsn-effect-scroll dsn-cursor-effect dsn-ajax">
    <main class="main-root">
        <div id="dsn-scrollbar">

            <header class="header-project p-relative h-100-v over-hidden dsn-header-animation border-bottom">
                <div data-dsn-ajax="img" class="p-absolute dsn-hero-parallax-img transform-3d w-50 h-100 right-0 bg-container over-hidden" data-overlay="5">
                    <img class="cover-bg-img " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{% static 'app/img/project/project2/1-sm.jpg' %}" data-dsn-srcset="{% static 'app/img/project/project2/1.jpg' %} 1800w,{% static 'app/img/project/project2/1-sm.jpg' %} 768w" alt="">
                </div>

                <div class="dsn-container d-flex align-items-end w-50 h-100 p-relative dsn-z-index-2 pb-80 dsn-hero-parallax-title">
                    <div class="content p-relative ">
                        <div class="intro-project w-100" data-dsn-y="200">
                            <div class="intro-title">
                                <div class="metas d-inline-block mb-25">
                                    <span>Architecture</span><span>Home</span>
                                </div>

                                <h1 class="title p-relative line-before line-after" data-dsn-ajax="title">
                                    Bloom Office interior
                                </h1>

                            </div>

                        </div>

                    </div>
                </div>
            </header>

            <div class="wrapper">

                <div class="about-project border-bottom section-padding">
                    <div class="container">
                        <div class="d-grid grid-1-half grid-md-1">
                            <div class="box-text">
                                <div class="mb-30 p-relative">
                                    <h5 class="sub-heading mb-15 pb-15">Bloom Office interior </h5>
                                    <h2 class="section-title text-uppercase">interior visualization</h2>
                                </div>

                                <p class="sm-title-block">Whether you are a company or an institution with a large portfolio of properties, Castell Management designs a set of solutions to meet your needs and investment objectives.</p>
                            </div>

                            <div class="list-info-project border-left pl-30 h-100">
                                <ul>
                                    <li>
                                        <h5 class="sm-title-block mb-5">CLIENT:</h5>
                                        <span>Beyondmatterstudio</span>
                                    </li>

                                    <li>
                                        <h5 class="sm-title-block mb-5">CATEGORY:</h5>
                                        <span> interior design </span>
                                    </li>

                                    <li>
                                        <h5 class="sm-title-block mb-5">Visualization:</h5>
                                        <span> Maxim Tsiabus</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-margin has-popup over-hidden p-relative">
                    <div class="dsn-container">
                        <div class="d-grid grid-md-3  over-hidden">

                            <!-- Components/Pages/project-2/image.html -->
                            {% include 'Components/Pages/project-2/image.html' %}

                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="img-box-small dsn-parallax-full parallax-responsive" data-dsn-grid="move-up">
                        <img class="p-absolute cover-bg-img has-top-bottom" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{% static 'app/img/project/project2/5.jpg' %}" alt="" data-dsn-move="20%">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </div>
                </div>

                <div class="section-margin has-popup over-hidden p-relative">
                    <div class="dsn-container">
                        <div class="d-grid grid-md-2  over-hidden">
                            <a href="{% static 'app/img/project/project2/6.jpg' %}" class="p-relative over-hidden h-v-60 d-flex">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{% static 'app/img/project/project2/6-sm.jpg' %}" data-dsn-srcset="{% static 'app/img/project/project2/6.jpg' %} 1800w,{% static 'app/img/project/project2/6-sm.jpg' %} 768w" alt="" class="cover-bg-img">
                            </a>
                            <a href="{% static 'app/img/project/project2/7.jpg' %}" class="p-relative over-hidden h-v-60 d-flex">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{% static 'app/img/project/project2/7-sm.jpg' %}" data-dsn-srcset="{% static 'app/img/project/project2/7.jpg' %} 1800w,{% static 'app/img/project/project2/7-sm.jpg' %} 768w" alt="" class="cover-bg-img">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="img-box-small dsn-parallax-full parallax-responsive" data-dsn-grid="move-up">
                        <img class="p-absolute cover-bg-img has-top-bottom" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{% static 'app/img/project/project2/8.jpg' %}" alt="" data-dsn-move="20%">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </div>
                </div>

                <div class="description-project section-padding has-popup over-hidden p-relative v-light">
                    <div class="dsn-container">
                        <div class="mb-70 p-relative">
                            <h5 class="sub-heading mb-15 pb-15">Bloom Office interior </h5>
                            <h2 class="section-title text-uppercase"><strong>interior visualization</strong></h2>
                        </div>

                        <div class="d-grid grid-md-2  over-hidden">
                            <div class="">
                                <h4 class="title-block mb-30">Let the photos do the talking</h4>
                                <p class="sm-title-block max-w570">Playful, detailed photography served a key role in the website’s success. By embracing a lifestyle approach that showcased the quality and craftsmanship of the products, as well as their vibrant styles, we were able to deepen the story of both the individual products and the brand itself.</p>
                            </div>

                            <!-- Components/Pages/project-2/interior.html -->
                            {% include 'Components/Pages/project-2/interior.html' %}

                        </div>
                    </div>
                </div>

                <div class="next-project section-padding p-relative v-dark-head background-section">
                    <div data-dsn-ajax="img" class="p-absolute dsn-hero-parallax-img transform-3d bg-container over-hidden " data-overlay="5">
                        <img class="cover-bg-img " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{% static 'app/img/project/project3/1-sm.jpg' %}" data-dsn-srcset="{% static 'app/img/project/project3/1.jpg' %} 1800w,{% static 'app/img/project/project3/1-sm.jpg' %} 768w" alt="">
                    </div>

                    <div class="dsn-container dsn-z-index-2 p-relative h-100">
                        <div class=" p-relative h-100 d-flex flex-column">
                            <div class="intro-project w-100 h">
                                <div class="intro-title text-center">
                                    <div class="metas d-inline-block mb-25 ml-auto mr-auto ">
                                        <span>Architecture</span><span>kitchen</span>
                                    </div>

                                    <div class="hero-title">
                                        <a href="{% url 'App:project_3' %}" class="d-inline-block">
                                            <h1 class="title" data-dsn-ajax="title">Central Park </h1>
                                            <h5 class="title title-fill " data-dsn-ajax="title">Central Park</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

{% endblock %}