{% load static %}
<footer class="footer p-footer overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-2 footer-block-item">
                <div class="footer-block block-logo">
                    <a href="" class="logo-footer m-auto">
                        <img src="{% static 'app/img/logo.png' %}" alt="" class="logo-dark cover-bg-img">
                        <img src="{% static 'app/img/logo-dark.png' %}" alt="" class="logo-light cover-bg-img">
                    </a>
                </div>
            </div>

            <div class="col-md-3 footer-block-item">
                <div class="footer-block">
                    <p class="subtitle p-relative line-shap  line-shap-after mb-20">
                        <span class="pl-10 pr-10 background-section heading-color text-uppercase">ADDRESS</span>
                    </p>
                    <p>26-30 New Damietta <br>
                        El-Mahalla El-Kubra, SK1 66LM</p>
                </div>
            </div>

            <div class="col-md-3 footer-block-item">
                <div class="footer-block col-menu">
                    <p class="subtitle p-relative line-shap  line-shap-after mb-20">
                        <span class="pl-10 pr-10 background-section heading-color text-uppercase">NAVIGATION</span>
                    </p>

                    <ul>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 footer-block-item">
                <div class="footer-block soical-block">
                    <ul class="socials">
                        <li>
                            <a href="" target="_blank">
                                <i class="fab fa-dribbble"></i>
                                <span>Db</span>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <i class="fab fa-twitter"></i>
                                <span>Tw</span>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <i class="fab fa-behance"></i>
                                <span>Be</span>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                                <span>Fb</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-credits  border-top pt-30 mt-30">
            <div class="block">
                <p class="copyright">© <script>document.write(new Date().getFullYear())</script> Arctit. Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in" target="_blank" class="text-reset">Shreethemes</a>.</p>
            </div>
        </div>
    </div>
</footer>