<div class="inner-content d-grid grid-lg-2">
    <div class="box-text">
        <div class="mb-30 p-relative">
            <h5 class="sub-heading mb-15 pb-15">About STUDIO</h5>
            <h2 class="section-title text-uppercase">A Sketch <strong> of Each <br>
                Detail</strong>
            </h2>
        </div>

        <p>The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our customers by lightning-fast development of projects employing unique styles.</p>

        <div class="d-grid grid-sm-2 mt-30">
            <div class="services-item background-section p-30 border-radius-5">
                <div class="icon mb-15">
                    <img src="{% static 'app/img/services/architecture.png' %}" alt="">
                </div>
                <div class="content">
                    <h4 class="sm-title-block text-uppercase mb-15"> Vision Screening</h4>
                    <h5 class="">14000</h5>
                </div>
            </div>

            <div class="services-item background-section p-30 border-radius-5">
                <div class="icon mb-15">
                    <img src="{% static 'app/img/services/architecture2.png' %}" alt="">
                </div>
                <div class="content">
                    <h4 class="sm-title-block text-uppercase mb-15">Exams performed</h4>
                    <h5 class="">12452</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="box-img cover-bg d-flex content-center h-100 ml-0 mr-0 " data-image-src="{% static 'app/img/header.jpg' %}" data-overlay="7">
        <div class="corner corner-top"></div>
        <div class="corner corner-bottom"></div>
        <div class="content v-dark-head">
            <span class="number">25</span>
            <h5 class="sm-title-block">Years of experience</h5>
        </div>
    </div>
</div>