<div class="pricing-item v-dark-head">
    <div class="pricing-item-inner pt-60 pb-60 pl-30 pr-30">
        <div class="mb-30">
            <h4 class="title-block mb-10 text-uppercase">STANDARD</h4>
            <h5 class="sm-title-block ">Membership</h5>
        </div>

        <div class="prices title mb-30 d-flex ">
            <span class="value sm-title-block">$</span>
            <span class="price ">30</span>
            <span class="per">/per mo</span>
        </div>

        <p>Lorem ipsum dolor sit amdoet, consectetur adipiscing elitde us uodtempor incidminim.</p>

        <ul class="mt-30">
            <li>Structure of a project</li>
            <li>Measurement of the room</li>
            <li>3D-Visualization of premises</li>
            <li>Dismantling plan</li>
            <li class="not">Scheme of interior finishing</li>
            <li class="not">Floor & celling plan</li>
        </ul>

        <a href="#" class="read-more p-relative mt-30 text-uppercase pl-5 pr-5">Choose Plane</a>
    </div>
</div>

<div class="pricing-item v-dark-head">
    <div class="pricing-item-inner pt-60 pb-60 pl-30 pr-30">
        <div class="mb-30">
            <h4 class="title-block mb-10 text-uppercase">PLUS</h4>
            <h5 class="sm-title-block ">Membership</h5>
        </div>

        <div class="prices title mb-30 d-flex ">
            <span class="value sm-title-block">$</span>
            <span class="price ">60</span>
            <span class="per">/per mo</span>
        </div>

        <p>Lorem ipsum dolor sit amdoet, consectetur adipiscing elitde us uodtempor incidminim.</p>

        <ul class="mt-30">
            <li>Structure of a project</li>
            <li>Measurement of the room</li>
            <li>3D-Visualization of premises</li>
            <li>Dismantling plan</li>
            <li>Scheme of interior finishing</li>
            <li class="not">Floor & celling plan</li>
        </ul>

        <a href="#" class="read-more p-relative mt-30 text-uppercase pl-5 pr-5">Choose Plane</a>
    </div>
</div>

<div class="pricing-item v-dark-head">
    <div class="pricing-item-inner pt-60 pb-60 pl-30 pr-30">
        <div class="mb-30">
            <h4 class="title-block mb-10 text-uppercase">EXPERT</h4>
            <h5 class="sm-title-block ">Membership</h5>
        </div>

        <div class="prices title mb-30 d-flex ">
            <span class="value sm-title-block">$</span>
            <span class="price ">95</span>
            <span class="per">/per mo</span>
        </div>

        <p>Lorem ipsum dolor sit amdoet, consectetur adipiscing elitde us uodtempor incidminim.</p>

        <ul class="mt-30">
            <li>Structure of a project</li>
            <li>Measurement of the room</li>
            <li>3D-Visualization of premises</li>
            <li>Dismantling plan</li>
            <li>Scheme of interior finishing</li>
            <li>Floor & celling plan</li>
        </ul>

        <a href="#" class="read-more p-relative mt-30 text-uppercase pl-5 pr-5">Choose Plane</a>
    </div>
</div>