<div class="filtering-t mb-80">
    <div class=" filtering-wrap d-flex align-items-center">
        <div class="filtering">
            <h5 class="filter-title">filter +</h5>
            <button type="button" data-filter="*" class="active">
                All
            </button>
            <button type="button" data-filter=".induction">induction</button>
            <button type="button" data-filter=".photography">Photography</button>
            <button type="button" data-filter=".architecture">Architecture</button>
            <button type="button" data-filter=".Product">Product</button>
            <button type="button" data-filter=".pen">pen</button>

        </div>
    </div>
</div>