{% for item in works_item|slice:"0:5" %}
    <div class="work-item {{ item.class }}">
        <div class="img-next-box before-z-index z-index-0 p-relative over-hidden">
            <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="{{ item.img }}" alt="">
        </div>
        <div class="box-content background-section p-30">
            <div class="metas d-inline-block mb-15">
                <span>{{ item.name }}</span><span>{{ item.name2 }}</span>
            </div>
            <h4 class="title-block sec-title">
                <a href="{% url 'App:project' title=item.title|slugify %}">
                    {{ item.title }}
                </a>
            </h4>
        </div>
    </div>
{% endfor %}