<div class="d-grid grid-lg-2">
    <div class="box-text">
        <div class="mb-30 p-relative">
            <h5 class="sub-heading mb-15 pb-15">About STUDIO</h5>
            <h2 class="section-title text-uppercase">Welcome! <strong> We are architet studio</strong>
            </h2>
        </div>

        <p class="max-w570 dsn-up mb-10 ">
            Founded in 2000, Dsn Grid has become one of the best Digital Agency in Shreethemes.
        </p>

        <p class="max-w570 dsn-up">
            Blue money going forward, but deploy to production. First-order optimal strategies build on a culture of contribution and inclusion so those options
        </p>

        <div class="process-block background-main mt-30">
            <span>Idea & Start</span>
            <span>Design & Crate</span>
            <span>Build & finish</span>
        </div>

        <div class="d-grid grid-sm-2 d-grid-no-space mt-30 ">
            <ul class="lest-icon">
                <li>Wretium in metus</li>
                <li>Faucibus arcu</li>
                <li>Mauris fringilla</li>
            </ul>

            <ul class="lest-icon">
                <li>Wretium in metus</li>
                <li>Faucibus arcu erat</li>
                <li>Mauris fringilla</li>
            </ul>
        </div>
    </div>

    <div class="img-box d-grid grid-sm-2">
        <div class="box-img">
            <div class="inner">
                <img src="{% static 'app/img/about.jpg' %}" alt="">
            </div>
        </div>

        <div class="box-img d-flex flex-column justify-content-end">
            <div class="inner">
                <img src="{% static 'app/img/about-2.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>