{% load static %}
<div class="d-grid grid-sm-2">
    <div class="box-img">
        <div class="box-img-inner">
            <img src="{% static 'app/img/hous-contact.jpg' %}" alt="">
        </div>
    </div>

    <div class="box-content d-flex flex-column justify-content-center ">
        <div class="box-content-inner">
            <h2 class="heading-h2 text-uppercase mb-30">Let's talk about <br> your project</h2>
            <p>Do you have building plans or do you want to know <br> more about building costs? Let's get acquainted!</p>
            <a href="{% url 'main:contact' %}" class="main-btn mt-30">
                <span class="text">Send Request</span>
                <span class="line-btn line-btn-top-left"></span>
                <span class="line-btn line-btn-top-right"></span>
                <span class="line-btn line-btn-bottom-left"></span>
                <span class="line-btn line-btn-bottom-right"></span>
            </a>
        </div>
    </div>
</div>