<div class="swiper-next">
    <div class="next-container">
        <div class="container-inner">
            <div class="triangle"></div>
            <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g class="circle-wrap" fill="none" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="12" cy="12" r="10.5"></circle>
                </g>
            </svg>
        </div>
    </div>
</div>
<div class="swiper-pagination"></div>
<div class="swiper-prev">
    <div class="prev-container">
        <div class="container-inner">
            <div class="triangle"></div>
            <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g class="circle-wrap" fill="none" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="12" cy="12" r="10.5"></circle>
                </g>
            </svg>
        </div>
    </div>
</div>